.panel-location-admin {
  .ant-tabs-nav {
    width: 100%;
    height: 45px;
  }

  .ant-tabs-nav-list {
    display: flex;
    width: 100%;
    gap: 0;
  }

  .ant-tabs-tab {
    flex: 1;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    transition: background 0.3s ease;
    margin-right: 3px !important;

    &:hover {
      background: #4d940e;
      color: #ffffff;
    }
  }

  .ant-tabs-tab-active {
    background: #4d940e !important;
    border-radius: 4px 4px 0 0;

    .ant-tabs-tab-btn {
      color: #ffffff !important;
      font-weight: 600;
    }
  }

  .ant-tabs-ink-bar {
    background: #4d940e !important;
  }

  .ant-tabs-tabpane .ant-tabs {
    margin-top: -15px;
  }
}
