@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");

.app-footer {
  margin-top: 15px;
  background: #f7f7fa;
  color: #000;
  line-height: 1.9;
  font-style: inherit;
  font-family: "Inter", sans-serif;
  border-top: 1px solid #ddd;

  .footer {
    .footer-wp {
      .container {
        padding-top: 20px;

        .row {
          display: flex;
          justify-content: space-between;
          margin: 10px 20px;
          padding: 6px;
          margin-right: 100px;
          margin-left: 100px;

          ul {
            list-style: none;
          }

          .icon {
            width: 20px;
            height: 20px;
          }

          h2 {
            margin-bottom: 28px;
            font-size: 21px;
            font-weight: 700;
          }

          h4 {
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: 600;
            color: #5a5959;
          }

          p,
          span,
          li,
          a {
            margin-bottom: 8px;
            font-size: 16px;
            font-weight: 500;
            color: #5a5959;
            text-decoration: none;
            transition: color 0.3s;
          }

          .row-1 {
            flex: 1;
            max-width: 480px;

            .logo {
              width: 150px;
              height: auto;
            }

            .gap {
              line-height: 2;
            }

            .contact-icon {
              display: flex;
              align-items: flex-start;
              gap: 6px;

              span,
              a {
                position: relative;
                top: -5px;
              }

              a {
                &:hover {
                  color: #4d940e;
                }
              }
            }
          }

          .row-2,
          .row-3 .row-4 {
            flex: 1;
            max-width: 250px;

            li {
              margin-bottom: 15px;
            }

            a {
              &:hover {
                color: #4d940e;
              }
            }
          }
        }

        .footer-bottom {
          padding: 12px 0 12px 20px;
          background: #000;
          color: #fff;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
}
