@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap");

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: all 0.3s ease;
  font-family: "Lexend", sans-serif;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 120px;
    background: #f7f7fa;
    font-family: "Inter", sans-serif;
    font-style: inherit;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;

    .header-logo {
      a {
        img {
          width: 180px;
          height: auto;
        }
      }
    }

    .header-nav {
      .header-nav-menu {
        ul {
          display: flex;
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            margin-right: 40px;

            a {
              font-size: 17px;
              font-weight: 505;
              color: #5a5959;

              &.active {
                font-weight: bold;
                border-bottom: 2px solid #4d940e;
                color: #4d940e;
              }

              &:hover {
                color: #4d940e;
              }
            }

            a.home {
              font-size: 17px;
              font-weight: 700;
              color: #4d940e;
            }
          }
        }
      }
    }

    .header-lang {
      position: relative;
      margin-top: 10px;

      .header-lang-vien {
        .icon {
          width: 25px;
          height: 25px;
          margin-right: 5px;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      @keyframes dropdownFadeIn {
        from {
          opacity: 0;
          transform: translateY(-5px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }

      .header-lang-dropdown {
        position: absolute;
        top: 100%;
        background: #fff;
        border: 1px solid #d8d7d7;
        border-radius: 4px;
        z-index: 1000;
        animation: dropdownFadeIn 0.25s ease;

        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          border-radius: 4px;
          cursor: pointer;

          li {
            display: flex;
            align-items: center;
            gap: 6px;
            padding: 6px 18px;
            border-radius: 4px;

            a {
              display: flex;
              color: #000;

              .icon {
                width: 20px;
                height: 20px;
                margin-top: 1px;
                margin-right: 7px;
              }
            }

            &:hover {
              background: #dfdfdf;
            }
          }
        }
      }
    }
  }
}
