.booking-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bd-section {
  width: 1050px;
  max-width: 100%;
  margin-bottom: 20px !important;
}

.bd-fixed-label .ant-descriptions-item-label {
  width: 400px !important;
  min-width: 400px !important;
  max-width: 400px !important;
  display: inline-block;
}

.bd-fixed-label .ant-descriptions-item-content {
  width: 550px !important;
  min-width: 550px !important;
  max-width: 550px !important;
  display: inline-block;
}
