.create-button {
  display: inline-flex;
  align-items: center;
  padding: 0.4rem 0.8rem;
  margin: 10px 0 15px 0;

  border: none;
  border-radius: 0.5rem;

  background-color: #4d940e;
  color: #fff;
  font-weight: 500;
  cursor: pointer;

  transition: background-color 0.3s ease;

  &:hover {
    background-color: #3c730b;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
