.edit-button {
  display: inline-flex;
  align-items: center;
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 0.5rem;

  background-color: #0d9488;
  color: white;
  font-weight: 500;
  cursor: pointer;

  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0b7b71;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
